@font-face {
  font-family: "Raleway";
  src: url(./fons/Raleway-VariableFont_wght.woff) format("woff");
}
@font-face {
  font-family: "Kaushan";
  src: url(./fons/KaushanScript-Regular.woff) format("woff");
}
@font-face {
  font-family: "Montserrat";
  src: url(./fons/Montserrat-Bold.woff) format("woff");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url(./fons/Raleway-Bold.woff) format("woff");
}
@font-face {
  font-family: "Raleway-ExtraBold";
  src: url(./fons/Raleway-ExtraBold.woff) format("woff");
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* =======================header============================== */

header {
  min-height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.header_flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  flex-wrap: wrap;
}
.logo ::after {
  content: "";
  height: 1px;
  background-color: #f4bf87;
  display: block;
  margin: 0 auto;
  opacity: 0;
  transition: 0.3s;
}
.logo > a:hover::after {
  opacity: 1;
}
.svg_logo {
  fill: #ffffff;
  transition: 0.3s;
}
.svg_logo:hover {
  fill: #f4bf87;
}

.menu {
  flex-grow: 1;
  align-self: center;
}
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
}
.menu > li {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  width: 100px;
  text-transform: uppercase;
  text-align: center;
}
.menu > li > a {
  transition: 0.3s;
}
.menu > li::after {
  content: "";
  height: 1px;
  background-color: #f4bf87;
  display: block;
  width: 70%;
  margin: 0 auto;
  opacity: 0;
  transition: 0.3s;
}
.menu > li > a:hover {
  color: #f4bf87;
}
.menu > li:hover::after {
  opacity: 1;
}
.search_and_buy {
  min-width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.search_and_buy > div > a > svg {
  fill: #ffffff;
  transition: 0.3s;
  height: 16px;
  width: 22px;
}
.search_and_buy > div > a > svg:hover {
  fill: #f4bf87;
}
.search_and_buy > div > a::after {
  content: "";
  width: 100%;
  background-color: #f4bf87;
  height: 1px;
  margin: 0 auto;
  display: block;
  opacity: 0;
}
.search_and_buy > div > a:hover:after {
  opacity: 1;
}
A {
  color: #ffffff;
  text-decoration: none;
}

/* ================welcome_mogo======================= */

.welcome_mogo {
  background-image: url(./images/Eagle_2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.welcome_mogo_background {
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
}

.welcome_mogo__title {
  padding: 170px 0 77px 0;
  text-align: center;
  font-family: "Kaushan";
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 93px;
  color: #ffffff;
}

.welcome_mogo__main-title {
  display: block;
  font-family: "Montserrat";
  min-height: 23.1rem;
  font-style: normal;
  font-weight: bolder;
  font-size: 9rem;
  line-height: 11rem;
  max-width: 1000px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 10px;
  margin: 0 auto;
}

.welcome_mogo__main-title::after {
  content: "";
  display: block;
  height: 5px;
  width: 170px;
  background: #ffffff;
  margin: 42px auto 75px auto;
}
.container > .bottom {
  display: flex;
  justify-content: center;
}

.container > .bottom > button {
  font-family: "Raleway-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.3s;
  background: none;
  padding: 1rem 5rem;
  border: 4px solid#FFFFFF;
}

.container > .bottom :hover {
  color: #e4be8d;
  background-color: #ffffff;
  cursor: pointer;
}
.container > .bottom :active {
  color: #e4be8d;
  background-color: #ffffff;
  border: solid 4px #e4be8d;
}
.bottoms > div {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 42px;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 30px;
  flex: 1;
  transition: 0.3s;
}

.bottoms :last-child {
  margin-right: 0px;
}
.bottoms > div::before {
  content: "";
  height: 4px;
  background-color: #ffffff;
  display: block;
  margin-bottom: 25px;
  transition: 0.3s;
}
.bottoms > div :hover {
  color: #f38281;
  transition: 0.3s;
}
.bottoms > div:hover::before {
  background-color: #f38281;
}
.bottoms {
  margin-top: 82px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
a > p {
  display: inline-block;
  font-family: "Raleway-Bold";
  font-size: 36px;
  font-weight: bold;
}

/* =======================what_we_do======================== */

.what_we_do {
  text-align: center;
  background-color: #ffffff;
}

.title_of_page {
  padding: 50px 0px 50px 0px;
  text-align: center;
}
.title_of_page > .main_title {
  text-align: center;
  display: block;
  font-family: "Kaushan";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  color: #2d3033;
}

.title_of_page > .subtitle {
  padding: 30px 0px 0px 0;
  min-height: 81px;
  font-family: "Raleway-ExtraBold";
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #2d3033;
}

.title_of_page > .subtitle::after {
  content: "";
  display: block;
  height: 5px;
  width: 170px;
  background: #f38281;
  margin: 42px auto 25px auto;
}

.title_of_page > .text_title {
  padding: 20px 0px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
}

.pictures_what_we_do {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 108px;
}
.pictures_what_we_do > div {
  position: relative;
}

.hower_what_we_do {
  width: 370px;
  height: 338px;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  position: absolute;
  top: -16px;
  left: -16px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  opacity: 0%;
}
.hower_what_we_do > img {
  width: 40px;
  height: 40px;
}
.hower_what_we_do > p {
  font-family: "Raleway";
  font-size: 24px;
  color: #ffffff;
  padding-top: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.about-us__flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about {
  background-image: url(./images/background_picture1.png);
}
.what-we-do_main-picture {
  opacity: 1;
  background-color: none;
  background-position: center;
  background-size: cover;
}

.picture_what_we_do:hover .what-we-do_main-picture > img {
  opacity: 0;
  cursor: pointer;
}
.picture_what_we_do:hover .what-we-do_main-picture {
  background-color: #95e1d3;
  cursor: pointer;
}
.picture_what_we_do:hover .hower_what_we_do {
  opacity: 1;
  cursor: pointer;
}

.about-us__flexbox > .about-us {
  height: 252px;
  width: 233px;
  background: #95e1d3;
  border-right: solid 2px #e5e5e5;
  font-family: "Raleway";
  font-size: 23px;
  font-weight: bold;
  color: #ffffff;
}
.about-us__flexbox > .about-us:first-child {
  border-left: solid 2px #e5e5e5;
}

.about-us > p {
  font-family: "Raleway-Bold";
  font-size: 64px;
  font-weight: bold;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 20px;
}

.about-us_last > p {
  font-family: "Raleway-Bold";
  font-size: 64px;
  font-weight: bold;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 20px;
}

/* =====================we_work_with========================== */

.we_work_with {
  background: #ffffff;
}

.servies-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  min-height: 420px;
  margin-bottom: 80px;
}

.servies-logo > div {
  margin-right: 30px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}
.servies-logo > div > img {
  width: 70px;
  height: 70px;
}
.servies-logo > div > .servies_flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 30px;
  max-width: 260px;
  min-height: 120px;
}
.servies-logo > div > .servies_flexbox > .text-service {
  font-family: "Raleway-Bold";
  font-style: Bold;
  font-size: 24px;
  line-height: 28px;
  line-height: 100%;
  text-transform: uppercase;
  color: #2d3033;
}

.servies-logo > div > .servies_flexbox > .text2-service {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #2d3033;
}

/* =======================for_all_devices=================== */

.for_all_devices {
  background-image: url(./images/mountains.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
}
.background_for_all_devices {
  background-color: rgba(255, 255, 255, 0.8);
}

.devices {
  margin-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  position: relative;
}

.tablet-pc > img {
  width: 100%;
}
.devices > .Iphone {
  position: absolute;
  top: 38%;
  left: 66%;
}
.Iphone > img {
  width: 100%;
}
/* =======================SERVISE ============================*/

.service {
  background: #ffffff;
}

.service__main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 115px;
}
.service__main-photo > img {
  width: 100%;
}
.service__main-content_list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-left: 30px;
  flex-grow: 1;
}
.service__main-content_list > div {
  border: solid 1px #c6cbcd;
  margin-bottom: 22px;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 255px;
  max-width: 570px;
}
.service__main-content_list > div > .main-content_title {
  border-bottom: solid 1px #c6cbcd;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  max-width: 570px;
}
.service__main-content_list > div > .text {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  color: #2d3033;
  padding: 22px 85px 22px 22px;
  overflow: scroll;
}
.service__main-content_list > div > .main-content_title > img {
  width: 42px;
  height: 42px;
}

.WWD {
  font-family: "Raleway-Bold";
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  color: #2d3033;
  text-transform: uppercase;
  margin-left: 40px;
}

/* =========================slider_comments================= */

.slider-comments {
  background: #f8f8f8;
  display: flex;
  align-items: center;
  padding: 42px 0;
}

.slider-comments_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.task {
  height: 170px;
  width: 170px;
  border: solid 2px #95e1d3;
  padding: 30px;
  margin-left: 58px;
}

.text_footer5 {
  max-width: 770px;
  vertical-align: top;
  font-family: "Raleway";
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  color: #a9afb1;
  font-weight: bold;
  margin: 0 0 0 50px;
}
.text_footer5::after {
  content: "";
  display: block;
  height: 5px;
  width: 10%;
  background: #f38281;
  margin: 48px 0;
}
.slider-comments_content > p {
  font-family: "Kaushan";
  font-size: 30px;
  color: #000000;
  position: absolute;
  top: 60%;
  left: 40%;
}

/* =========================who_we_are====================== */

.who-we-are {
  background: #ffffff;
}

.our-team {
  margin: 60px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our-team > div {
  margin: 20px 30px 20px 0;
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
}
.our-team > div:last-child {
  margin-right: 0px;
}

.name {
  font-family: "Raleway-Bold";
  font-weight: bold;
  font-size: 24px;
  color: #2d3033;
  text-transform: uppercase;
  padding-top: 30px;
}

.position {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 18px;
  color: #2d3033;
  text-transform: uppercase;
  padding-top: 30px;
}
.our-team__person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our-team__hower {
  display: flex;
  width: 370px;
  height: 424px;
  position: absolute;
  top: -16px;
  left: -16px;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
}

.our-team__hower > a {
  border-right: 1px solid #f38281;
}
.our-team__hower:hover {
  opacity: 1;
  cursor: pointer;
}
.hower_social-network {
  margin-right: 1px;
  width: 42px;
  height: 42px;
}

.hower_social-network:hover .social-icon_background {
  fill: #f38281;
  transition: 0.3s;
}
.hower_social-network:hover .social-icon {
  fill: #f9efcf;
  transition: 0.3s;
}

/* =====================icons-section==================== */

.icons-section {
  background: #f8f8f8;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 45px 0;
}
.icons > div {
  flex: 1;
  align-self: center;
  display: flex;
  justify-content: center;
}

/* =====================SOME_WORKS=================== */

.some_works {
  background: #ffffff;
}

.block-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 85px;
}
.block-work {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.block-work > div {
  position: relative;
}
.block-work > div > div {
  display: flex;
}
.block-work_hover {
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.block-work_hover > img {
  width: 2.625rem;
  height: 2.625rem;
  margin-bottom: 4.75rem;
}
.block-work_hover > h4 {
  font-family: "Raleway-Bold";
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 1rem;
}
.block-work_hover > p {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.block-work_hover:hover {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
}

/* =============slider-rewiews=============== */

.slider-rewiews {
  background: #ffffff;
  display: flex;
  align-items: center;
  padding: 42px 0;
}

.slider-rewiews_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slider-rewiews_task {
  margin-left: 58px;
}

.text_footer5 {
  max-width: 770px;
  vertical-align: top;
  font-family: "Raleway";
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  color: #a9afb1;
  font-weight: bold;
  margin: 0 0 0 50px;
}
.text_footer5::after {
  content: "";
  display: block;
  height: 5px;
  width: 10%;
  background: #f38281;
  margin: 48px 0;
}
.slider-rewiews_content > p {
  font-family: "Kaushan";
  font-size: 30px;
  color: #000000;
  position: absolute;
  top: 60%;
  left: 40%;
}

/* ================happy-clients================= */

.happy-clients {
  background-image: url(./images/LIST7_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.happy-clients_background {
  background-color: rgba(255, 255, 255, 0.8);
}
.rewiews-block {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2.625rem;
  justify-content: center;
}
.rewiews-block > .rewiew {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
  margin-bottom: 3rem;
}
.rewiews-block > .rewiew > img {
  width: 8.125rem;
  height: 8.125rem;
}
.rewiew > .text-rewiew {
  display: flex;
  flex-direction: column;
  /* margin-left: 3.125rem; */
  min-width: 23.125rem;
  padding: 0 50px;
}

.text-rewiew > .rewiewer {
  font-family: "Raleway-Bold";
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #2d3033;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.text-rewiew > .profession {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #2d3033;
  text-transform: uppercase;
}
.text-rewiew > .profession::after {
  content: "";
  display: block;
  height: 0.3125rem;
  width: 4.375rem;
  background: #f38281;
  margin: 30px 0;
}

.text-rewiew > .text-rewiew_text {
  font-family: "Raleway";
  font-weight: bold;
  color: #2d3033;
  font-size: 18px;
}

/* ================our-stories================ */

.our-stories {
  background: #ffffff;
}
.latest-blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 8.5rem;
}

.latest-blogs > .latest_blog:last-child {
  margin-right: 0px;
}

.latest_blog {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 30px;
  position: relative;
}
.latest_blog > .latest_blog__main-image {
  margin-bottom: 1.875rem;
}
.latest_blog > h3 {
  font-family: "Raleway-Bold";
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
}
.latest_blog > p {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 1.375rem;
}
.looked-comments {
  display: flex;
  align-items: center;
}
.looked-comments > p {
  margin-right: 2rem;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #2d3033;
}
.looked {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}

.calender-date {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 148px;
  left: -14px;
}

/* =====================latest_blog__footer================= */

.latest_blog__footer {
  min-height: 231px;
  background-image: url(./images/background_latest\ blog.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.latest_blog__footer-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 231px;
}

.map-pointer {
  width: 2.625rem;
  height: 2.625rem;
  margin-bottom: 2rem;
}

.latest_blog__footer__title {
  font-family: "Raleway-ExtraBold";
  font-size: 36px;
  text-transform: uppercase;
  line-height: 42px;
  color: #f38281;
}

.latest_blog__footer__title::after {
  content: "";
  display: block;
  height: 5px;
  width: 170px;
  background: #f38281;
  margin: 42px auto 0;
}

/* ======================footer============================ */

footer {
  background: #f8f8f8;
  padding-top: 5rem;
  padding: 2.625rem 0;
}
.footer-flexbox {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2.625rem;
}

.footer-flexbox > div {
  flex: 1;
}
.footer-block-one {
  display: flex;
  flex-direction: column;
  margin-right: 1.875rem;
  justify-content: space-between;
}
.footer-block-one > .footer-logo {
  margin-bottom: 2rem;
}
.footer-block-one > .footer_info {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: #c6cbcd;
  font-weight: bold;
  margin-bottom: 2rem;
}
.footer_followers > .two {
  font-family: "Raleway";
  font-style: italic;
  color: #2d3033;
  font-weight: bold;
}
.footer_followers > .one {
  font-family: "Raleway-Bold";
  font-weight: bold;
  font-size: 25px;
  color: #2d3033;
}
.footer_followers::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #c6cbcd;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}
.footer-block-one > .follow_us {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.125rem;
}
.follow_us > li {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.follow_us > li > a > img {
  width: 24px;
  height: 24px;
}
.follow_us > li:first-child {
  font-family: "Raleway";
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  color: #c6cbcd;
  margin-right: 40px;
}

form {
  display: flex;
}
form > input {
  width: 100%;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 18px;
  color: #c6cbcd;
  text-align: center;
  border: 1px solid #c6cbcd;
}
form > button {
  min-width: 134px;
  min-height: 55px;
  background-color: #95e1d3;
  text-align: center;
  font-family: "Raleway-Bold";
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}
form > button:hover {
  background-color: #f38281;
  color: #2d3033;
  cursor: pointer;
  transition: 0.3s;
}
.footer-block-two {
  display: flex;
  flex-direction: column;
  margin-right: 1.875rem;
}
.footer-block-two > h3 {
  font-family: "Raleway-Bold";
  font-weight: bold;
  font-size: 24px;
  color: #2d3033;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.footer-block-two > div {
  display: flex;
  margin-bottom: 1.25rem;
}
.footer-block-two > div:last-child {
  margin-bottom: 0;
}
.footer-block-two > div > .blog {
  font-family: "Raleway-Bold";
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 30px;
  min-width: 14rem;
}
.footer-block-two > div > .blog > span {
  font-family: "Raleway";
  font-size: 13px;
  line-height: 15px;
  color: #2d3033;
}
.footer-block-three {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer-block-three > h3 {
  font-family: "Raleway-Bold";
  font-weight: bold;
  font-size: 24px;
  color: #2d3033;
  text-transform: uppercase;
  padding: 0 0 30px 0;
}
.footer-block-three__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.footer-block-three__images > img {
  width: 90px;
  height: 88px;
  /* flex: 33%; */
}
.footer-block-three > a {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 13px;
  color: #2d3033;
  text-transform: uppercase;
  text-decoration: underline;
}

.underfooter::before {
  content: "";
  display: block;
  height: 1px;
  max-width: 100%;
  background: #c6cbcd;
  margin: 20px auto 5px auto;
}
.underfooter > p {
  text-align: center;
  font-family: "Raleway-Bold";
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #2d3033;
}
