@font-face {
  font-family: "Raleway";
  src: url(./fons/Raleway-VariableFont_wght.woff) format("woff");
}
@font-face {
  font-family: "Kaushan";
  src: url(./fons/KaushanScript-Regular.woff) format("woff");
}
@font-face {
  font-family: "Montserrat";
  src: url(./fons/Montserrat-Bold.woff) format("woff");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url(./fons/Raleway-Bold.woff) format("woff");
}
@font-face {
  font-family: "Raleway-ExtraBold";
  src: url(./fons/Raleway-ExtraBold.woff) format("woff");
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* =======================header============================== */

header {
  min-height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.header_flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 42px 0;
}
.logo ::after {
  content: "";
  height: 1px;
  background-color: #f4bf87;
  display: block;
  margin: 0 auto;
  opacity: 0;
  transition: 0.3s;
}
.logo > a:hover::after {
  opacity: 1;
}
.svg_logo {
  fill: #ffffff;
  transition: 0.3s;
}
.svg_logo:hover {
  fill: #f4bf87;
  transition: 0.3s;
}

.menu {
  flex-grow: 1;
  align-self: center;
}
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
}
.menu > li {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  width: 100px;
  text-transform: uppercase;
  text-align: center;
}
.menu > li > a {
  transition: 0.3s;
}
.menu > li::after {
  content: "";
  height: 1px;
  background-color: #f4bf87;
  display: block;
  width: 70%;
  margin: 0 auto;
  opacity: 0;
  transition: 0.3s;
}
.menu > li > a:hover {
  color: #f4bf87;
}
.menu > li:hover::after {
  opacity: 1;
}
.search_and_buy {
  min-width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.burger-menu > button {
  background: none;
  border: none;
  display: none;
}
.burger-closer > button {
  background: none;
  border: none;
  display: none;
}
.search_and_buy > div > a > svg {
  fill: #ffffff;
  transition: 0.3s;
  height: 16px;
  width: 22px;
}
.search_and_buy > div > a > svg:hover {
  fill: #f4bf87;
}
.search_and_buy > div > a::after {
  content: "";
  width: 100%;
  background-color: #f4bf87;
  height: 1px;
  margin: 0 auto;
  display: block;
  opacity: 0;
}
.search_and_buy > div > a:hover:after {
  opacity: 1;
}
.burger-menu:hover .burger-color {
  fill: #f4bf87;
  transition: 0.3s ease;
}
.burger-closer:hover .burger-color {
  fill: #f4bf87;
  transition: 0.3s ease;
}
.burger-menu > button:hover {
  cursor: pointer;
}
.burger-closer > button:hover {
  cursor: pointer;
}
A {
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 1025px) {
  .svg_logo {
    width: 66px;
    height: 17.7px;
  }
  .logo ::after {
    height: 0.5px;
  }
  .menu > li {
    font-size: 13px;
    line-height: 15px;
  }
  .menu > li::after {
    height: 0.5px;
  }
  .search_and_buy > div > a > svg {
    height: 16px;
    width: 16px;
  }
  .search_and_buy > div > a::after {
    height: 0.5px;
  }
}

@media (max-width: 550px) {
  .search_and_buy {
    display: none;
  }
  .burger-menu > button {
    display: inline-block;
  }
  .menu {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 80vh;
    display: none;
  }
}

/* ================welcome_mogo======================= */
.welcome_mogo {
  background-image: url(./images/Eagle_2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.welcome_mogo_background {
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
}

.welcome_mogo__title {
  text-align: center;
  font-family: "Kaushan";
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 93px;
  color: #ffffff;
  padding-top: 150px;
}

.welcome_mogo__main-title {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 9rem;
  line-height: 11rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 25px 60px;
}

.welcome_mogo__main-title::after {
  content: "";
  display: block;
  height: 5px;
  max-width: 170px;
  background: #ffffff;
  margin: 42px auto 75px auto;
}
.container > .bottom {
  display: flex;
  justify-content: center;
}

.container > .bottom > button {
  font-family: "Raleway-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.3s;
  background: none;
  padding: 1rem 5rem;
  border: 4px solid#FFFFFF;
}

.container > .bottom :hover {
  color: #e4be8d;
  background-color: #ffffff;
  cursor: pointer;
}
.container > .bottom :active {
  color: #e4be8d;
  background-color: #ffffff;
  border: solid 4px #e4be8d;
}
.bottoms > div {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 42px;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 30px;
  flex: 1;
  transition: 0.3s;
}

.bottoms :last-child {
  margin-right: 0px;
}
.bottoms > div::before {
  content: "";
  height: 4px;
  background-color: #ffffff;
  display: block;
  margin-bottom: 25px;
  transition: 0.3s;
}
.bottoms > div :hover {
  color: #f38281;
  transition: 0.3s;
}
.bottoms > div:hover::before {
  background-color: #f38281;
  cursor: pointer;
}
.bottoms {
  margin-top: 82px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bottoms > div > a > p {
  display: inline-block;
  font-family: "Raleway-Bold";
  font-size: 36px;
  font-weight: bold;
}
@media (max-width: 1025px) {
  .welcome_mogo__title {
    font-size: 48px;
    line-height: 70px;
  }

  .welcome_mogo__main-title {
    font-size: 96px;
    line-height: 117px;
    padding: 25px 150px;
  }

  .bottoms > div {
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 15px;
  }
  .bottoms > div > a > p {
    font-size: 24px;
  }
}

@media (max-width: 550px) {
  .welcome_mogo__title {
    font-size: 36px;
    line-height: 52px;
    padding-top: 150px;
    margin-bottom: 60px;
  }
  .welcome_mogo__main-title {
    font-size: 48px;
    line-height: 59px;
    padding: 0px 0px;
  }
  .bottoms > div > a {
    display: none;
  }
  .container > .bottom > button {
    padding: 1rem 4.5rem;
  }
}
/* =======================what_we_do======================== */

.what_we_do {
  text-align: center;
  background-color: #ffffff;
}

.title_of_page {
  padding: 50px 0px 50px 0px;
  text-align: center;
}
.title_of_page > .main_title {
  text-align: center;
  display: block;
  font-family: "Kaushan";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  color: #2d3033;
}

.title_of_page > .subtitle {
  padding: 30px 0px 0px 0;
  min-height: 81px;
  font-family: "Raleway-ExtraBold";
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #2d3033;
}

.title_of_page > .subtitle::after {
  content: "";
  display: block;
  height: 5px;
  width: 170px;
  background: #f38281;
  margin: 42px auto 25px auto;
}

.title_of_page > .text_title {
  padding: 20px 0px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
}

.pictures_what_we_do {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 108px;
}
.pictures_what_we_do > div {
  position: relative;
  flex: 1;
  max-width: 370px;
  max-height: 338px;
  min-width: 288px;
  min-height: 258px;
}

.hower_what_we_do {
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  position: absolute;
  top: -16px;
  left: -16px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  opacity: 0%;
  width: 100%;
  height: 100%;
}
.hower_what_we_do > img {
  width: 40px;
  height: 40px;
}
.hower_what_we_do > p {
  font-family: "Raleway";
  font-size: 24px;
  color: #ffffff;
  padding-top: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.about-us__flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about {
  background-image: url(./images/background_picture1.png);
}
.what-we-do_main-picture {
  opacity: 1;
  background-color: none;
  background-position: center;
  background-size: cover;
}
.what-we-do_main-picture > img {
  width: 100%;
  height: 100%;
}
.picture_what_we_do:hover .what-we-do_main-picture > img {
  opacity: 0;
  cursor: pointer;
}
.picture_what_we_do:hover .what-we-do_main-picture {
  background-color: #95e1d3;
  cursor: pointer;
}
.picture_what_we_do:hover .hower_what_we_do {
  opacity: 1;
  cursor: pointer;
}

.about-us__flexbox > .about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #95e1d3;
  border-right: solid 2px #e5e5e5;
  font-family: "Raleway";
  font-size: 23px;
  font-weight: bold;
  color: #ffffff;
  padding: 45px;
}
.about-us__flexbox > .about-us:first-child {
  border-left: solid 2px #e5e5e5;
}

.about-us > p {
  font-family: "Raleway-Bold";
  font-size: 64px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}

.about-us_last > p {
  font-family: "Raleway-Bold";
  font-size: 64px;
  font-weight: bold;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 20px;
}

@media (max-width: 1180px) {
  .about-us__flexbox > .about-us {
    padding: 35px;
  }
  .about-us > p {
    font-size: 48px;
    line-height: 56px;
  }
  .about-us__flexbox > .about-us {
    font-size: 20px;
    padding: 35px;
  }
  .hower_what_we_do {
    top: -7px;
    left: -7px;
  }
}

@media (max-width: 1025px) {
  .title_of_page > .main_title {
    font-size: 24px;
    line-height: 35px;
  }
  .title_of_page > .subtitle {
    font-size: 24px;
    line-height: 28px;
  }
  .pictures_what_we_do > div {
    width: 320px;
  }
  .hower_what_we_do > img {
    width: 33px;
    height: 33px;
  }
  .hower_what_we_do > p {
    font-size: 18px;
    line-height: 21px;
  }
  .about-us > p {
    font-size: 48px;
    line-height: 56px;
  }
  .about-us__flexbox > .about-us {
    font-size: 20px;
    padding: 35px;
  }
  .title_of_page > .text_title {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 550px) {
  .hower_what_we_do {
    top: auto;
    left: 0;
    bottom: 4px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    opacity: 1;
    width: 100%;
    height: 30%;
  }

  .hower_what_we_do > img {
    width: 28px;
    height: 28px;
    margin-left: 17px;
  }

  .hower_what_we_do > p {
    margin-left: 32px;
  }

  .picture_what_we_do:hover .what-we-do_main-picture {
    background-color: transparent;
    cursor: pointer;
  }
  .picture_what_we_do:hover .what-we-do_main-picture > img {
    opacity: 1;
    cursor: pointer;
  }

  .hower_what_we_do > p {
    padding-top: 0px;
    font-size: 18px;
    line-height: 21px;
  }

  .about-us__flexbox > .about-us {
    font-size: 15px;
    padding: 20px;
    border-right: none;
    border-bottom: solid 2px #e5e5e5;
  }

  .about-us > p {
    font-size: 44px;
  }

  .about-us__flexbox > .about-us:first-child {
    border-left: none;
  }
  .about-us__flexbox > .about-us:last-child {
    border-left: none;
    border-bottom: none;
  }
  .title_of_page {
    padding: 50px 0px 20px 0px;
  }
}

/* =====================we_work_with========================== */

.we_work_with {
  background: #ffffff;
}

.servies-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  min-height: 420px;
  margin-bottom: 80px;
  gap: 30px;
}

.servies-logo > div {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}
.servies-logo > div > img {
  width: 70px;
  height: 70px;
}
.servies-logo > div > .servies_flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 30px;
  max-width: 260px;
  min-height: 120px;
}
.servies-logo > div > .servies_flexbox > .text-service {
  font-family: "Raleway-Bold";
  font-style: Bold;
  font-size: 24px;
  line-height: 28px;
  line-height: 100%;
  text-transform: uppercase;
  color: #2d3033;
}

.servies-logo > div > .servies_flexbox > .text2-service {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #2d3033;
}

@media (max-width: 1170px) {
  .servies-logo {
    min-height: 300px;
  }
  .servies-logo > div > img {
    width: 59px;
    height: 59px;
  }
  .servies-logo > div > .servies_flexbox > .text-service {
    font-size: 18px;
    line-height: 21px;
  }
  .servies-logo > div > .servies_flexbox > .text2-service {
    font-size: 14px;
    line-height: 16px;
  }
  .servies-logo > div > .servies_flexbox {
    max-width: 220px;
  }
}

@media (max-width: 550px) {
  .servies-logo > div {
    flex-wrap: nowrap;
  }
}

/* =======================for_all_devices=================== */

.for_all_devices {
  background-image: url(./images/mountains.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
}
.background_for_all_devices {
  background-color: rgba(255, 255, 255, 0.8);
}

.devices {
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  position: relative;
}

.tablet-pc > img {
  width: 100%;
}
.devices > .Iphone {
  position: absolute;
  top: 38%;
  left: 66%;
  max-width: 200px;
  max-height: 412px;
}
.Iphone > img {
  width: 100%;
}

@media (max-width: 1025px) {
  .Iphone > img {
    width: 85%;
  }
}

@media (max-width: 550px) {
  .Iphone > img {
    width: 60%;
  }
}

/* =======================SERVISE ============================*/

.service {
  background: #ffffff;
}

.service__main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 115px;
  gap: 30px;
}
.service__main-photo > img {
  width: 100%;
}
.service__main-content_list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  flex-grow: 1;
}
.service__main-content_list > div {
  border: solid 1px #c6cbcd;
  margin-bottom: 22px;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 255px;
  max-width: 570px;
}
.service__main-content_list > div > .main-content_title {
  border-bottom: solid 1px #c6cbcd;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
.service__main-content_list > div > .text {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  color: #2d3033;
  padding: 22px 85px 22px 22px;
  overflow: auto;
}
.service__main-content_list > div > .main-content_title > img {
  width: 42px;
  height: 42px;
}

.WWD {
  font-family: "Raleway-Bold";
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  color: #2d3033;
  text-transform: uppercase;
  margin-left: 40px;
}

@media (max-width: 1200px) {
  .service__main-photo {
    width: 478px;
    /* height: 409px; */
  }
  .service__main-content_list > div {
    max-height: 200px;
    max-width: 465px;
  }
  .service__main-content_list > div > .main-content_title > img {
    width: 35px;
    height: 35px;
  }
  .service__main-content_list > div > .main-content_title > p {
    font-size: 18px;
    line-height: 21px;
  }
  .service__main-content_list > div > .text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 550px) {
  .service__main-content {
    margin-bottom: 30px;
  }

  .service__main-photo {
    height: 142px;
  }

  .service__main-photo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* =========================slider_comments================= */

.slider-comments {
  background: #f8f8f8;
  display: flex;
  align-items: center;
  padding: 42px 0;
}

.slider-comments_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.task {
  height: 170px;
  width: 170px;
  border: solid 2px #95e1d3;
  padding: 30px;
  margin-left: 58px;
}
.task > img {
  width: 100%;
  height: 100%;
}
.text_footer5 {
  max-width: 770px;
  vertical-align: top;
  font-family: "Raleway";
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  color: #a9afb1;
  font-weight: bold;
  margin: 0 0 0 50px;
}
.slider-buttons {
  justify-content: center;
  gap: 20px;
  width: 100%;
  display: none;
}

.slider-buttons > button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #c6cbcd;
}
.slider-buttons > button:hover {
  background-color: #c6cbcd;
  cursor: pointer;
  transition: 0.3s ease;
}

.text_footer5::after {
  content: "";
  display: block;
  height: 5px;
  width: 10%;
  background: #f38281;
  margin: 48px 0;
}
.slider-comments_content > p {
  font-family: "Kaushan";
  font-size: 30px;
  color: #000000;
  position: absolute;
  top: 60%;
  left: 40%;
}
@media (max-width: 1180px) {
  .slider-comments {
    padding: 28px 0;
  }
  .task {
    height: 115px;
    width: 115px;
    padding: 23px;
  }

  .text_footer5 > p {
    font-size: 18px;
    line-height: 21px;
    max-width: 670px;
  }
  .slider-comments_content > p {
    font-size: 24px;
    line-height: 35px;
  }
}

@media (max-width: 550px) {
  .arrow_left {
    display: none;
  }
  .task {
    display: none;
  }
  .arrow_right {
    display: none;
  }
  .text_footer5 {
    margin: 0;
  }
  .text_footer5 > p {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
  }
  .slider-buttons {
    display: flex;
  }
  .slider-comments_content > p {
    font-size: 18px;
    line-height: 26px;
  }
  .text_footer5::after {
    width: 47px;
  }
}
/* =========================who_we_are====================== */

.who-we-are {
  background: #ffffff;
}

.our-team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 80px;
}

.our-team > div {
  max-width: 370px;
  min-width: 288px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
}

.name {
  font-family: "Raleway-Bold";
  font-weight: bold;
  font-size: 24px;
  color: #2d3033;
  text-transform: uppercase;
  padding-top: 30px;
}

.position {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 18px;
  color: #2d3033;
  text-transform: uppercase;
  padding-top: 30px;
}
.our-team__person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-team__photo {
  max-width: 370px;
  max-height: 424px;
  min-width: 288px;
  min-height: 236px;
  position: relative;
}
.our-team__person-photo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.our-team__hower {
  position: absolute;
  top: -16px;
  left: -16px;
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
}

.our-team__hower > a {
  border-right: 1px solid #f38281;
}
.our-team__hower:hover {
  opacity: 1;
  cursor: pointer;
}
.hower_social-network {
  margin-right: 1px;
  width: 42px;
  height: 42px;
}

.hower_social-network:hover .social-icon_background {
  fill: #f38281;
  transition: 0.3s;
}
.hower_social-network:hover .social-icon {
  fill: #f9efcf;
  transition: 0.3s;
}

@media (max-width: 1200px) {
  .our-team {
    gap: 20px;
  }
  .our-team__hower {
    top: -4px;
    left: -4px;
  }
  .name {
    font-size: 18px;
    line-height: 21px;
  }
  .position {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 550px) {
  .our-team__hower {
    top: 0;
    left: 0;
    background: none;
    justify-content: end;
    align-items: flex-end;
    opacity: 1;
  }
}
/* =====================icons-section==================== */

.icons-section {
  background: #f8f8f8;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 45px 0;
}
.icons > div {
  flex: 1;
  align-self: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 550px) {
  .icons {
    gap: 12px;
  }
}
/* =====================SOME_WORKS=================== */

.some_works {
  background: #ffffff;
}

.block-works__wrapper {
  display: grid;
  grid-template-areas:
    "a b c d"
    "e f c g";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}
.block-works__wrapper > .block-work:nth-child(1) {
  position: relative;
  grid-area: a;
}
.block-works__wrapper > .block-work:nth-child(2) {
  position: relative;
  grid-area: e;
}
.block-works__wrapper > .block-work:nth-child(3) {
  position: relative;
  grid-area: b;
}

.block-works__wrapper > .block-work:nth-child(4) {
  position: relative;
  grid-area: f;
}

.block-works__wrapper > .block-work:nth-child(5) {
  position: relative;
  grid-area: c;
}

.block-works__wrapper > .block-work:nth-child(6) {
  position: relative;
  grid-area: d;
}

.block-works__wrapper > .block-work:nth-child(7) {
  position: relative;
  grid-area: g;
}
.block-work_picture {
  display: flex;
  width: 100%;
  height: 100%;
}
.block-work_picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.block-work_hover {
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.block-work_hover > img {
  width: 2.625rem;
  height: 2.625rem;
  margin-bottom: 4.75rem;
}
.block-work_hover > h4 {
  font-family: "Raleway-Bold";
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 1rem;
}
.block-work_hover > p {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.block-work_hover:hover {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
}

@media (max-width: 1511px) {
  .block-works__wrapper {
    margin-bottom: 58px;
  }

  .block-work_hover > h4 {
    font-size: 18px;
    line-height: 21px;
  }
  .block-work_hover > p {
    font-size: 14px;
    line-height: 16px;
  }
  .block-work_hover > img {
    width: 1.78rem;
    height: 1.78rem;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 550px) {
  .block-works__wrapper {
    grid-template-areas:
      "a c"
      "e c"
      "g c"
      "d b"
      "f f";
    grid-template-columns: repeat(2, 159px);
    grid-template-rows: repeat(5, 152px);
    justify-content: center;
  }

  .block-work_hover {
    display: none;
  }
}
/* =============slider-rewiews=============== */

.slider-rewiews {
  background: #ffffff;
  display: flex;
  align-items: center;
  padding: 42px 0;
}

.slider-rewiews_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slider-rewiews_task {
  margin-left: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_footer5 {
  max-width: 770px;
  vertical-align: top;
  font-family: "Raleway";
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  color: #a9afb1;
  font-weight: bold;
  margin: 0 0 0 50px;
}
.text_footer5::after {
  content: "";
  display: block;
  height: 5px;
  width: 10%;
  background: #f38281;
  margin: 48px 0;
}
.slider-rewiews_content > p {
  font-family: "Kaushan";
  font-size: 30px;
  color: #000000;
  position: absolute;
  top: 60%;
  left: 40%;
}
@media (max-width: 1180px) {
  .slider-rewiews_task > img {
    width: 115px;
    height: 115px;
  }
  .text_footer5 {
    max-width: 670px;
    font-size: 18px;
    line-height: 21px;
  }
  .slider-rewiews_content > p {
    font-size: 24px;
    line-height: 35px;
    position: absolute;
    top: 60%;
    left: 40%;
  }
}

@media (max-width: 550px) {
  .text_footer5 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
  }
  .text_footer5::after {
    width: 47px;
  }
  .slider-rewiews_task {
    margin-bottom: 41px;
  }
  .text_footer5 > p {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
  }
  .slider-rewiews_task {
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-rewiews_content > p {
    font-size: 18px;
    line-height: 26px;
    position: absolute;
    top: 80%;
    left: 34%;
  }
}

/* ================happy-clients================= */

.happy-clients {
  background-image: url(./images/LIST7_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.happy-clients_background {
  background-color: rgba(255, 255, 255, 0.8);
}
.rewiews-block {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2.625rem;
  justify-content: center;
  gap: 50px;
}
.rewiews-block > .rewiew {
  display: flex;
  justify-content: space-between;
  flex-basis: 45%;
  margin-bottom: 3rem;
  gap: 50px;
}
.rewiews-block > .rewiew > img {
  width: 8.125rem;
  height: 8.125rem;
}
.rewiew > .text-rewiew {
  display: flex;
  flex-direction: column;
  min-width: 23.125rem;
}

.text-rewiew > .rewiewer {
  font-family: "Raleway-Bold";
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #2d3033;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.text-rewiew > .profession {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #2d3033;
  text-transform: uppercase;
}
.text-rewiew > .profession::after {
  content: "";
  display: block;
  height: 0.3125rem;
  width: 4.375rem;
  background: #f38281;
  margin: 30px 0;
}

.text-rewiew > .text-rewiew_text {
  font-family: "Raleway";
  font-weight: bold;
  color: #2d3033;
  font-size: 18px;
}

@media (max-width: 1200px) {
  .rewiews-block > .rewiew > img {
    width: 5.5rem;
    height: 5.5rem;
  }
  .text-rewiew > .rewiewer {
    font-size: 18px;
    line-height: 21px;
  }
  .text-rewiew > .profession {
    font-size: 14px;
    line-height: 16px;
  }
  .text-rewiew > .text-rewiew_text {
    font-size: 14px;
    line-height: 16px;
  }
  .text-rewiew > .profession::after {
    height: 0.2rem;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .rewiew > .text-rewiew {
    min-width: 19.75rem;
  }
}

@media (max-width: 550px) {
  .rewiews-block > .rewiew {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 0;
    gap: 29px;
  }

  .rewiews-block {
    gap: 30px;
  }

  .rewiew > .text-rewiew {
    display: flex;
    flex-direction: column;
    min-width: 286px;
    justify-content: center;
    align-items: center;
  }

  .text-rewiew > .rewiewer {
    font-size: 18px;
    line-height: 21px;
  }

  .text-rewiew > .profession {
    font-size: 14px;
    line-height: 16px;
  }

  .text-rewiew > .profession::after {
    margin: 30px auto;
    width: 134px;
  }
  .text-rewiew > .profession {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
  .text-rewiew > .text-rewiew_text {
    text-align: center;
  }
}

/* ================our-stories================ */

.our-stories {
  background: #ffffff;
}
.latest-blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 5.5rem;
}

.latest-blogs > .latest_blog:last-child {
  margin-right: 0px;
}

.latest_blog {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  max-width: 370px;
  min-width: 288px;
}
.latest_blog > .latest_blog__main-image {
  margin-bottom: 1.875rem;
  width: 100%;
}
.latest_blog > h3 {
  font-family: "Raleway-Bold";
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
}
.latest_blog > p {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 1.375rem;
}
.looked-comments {
  display: flex;
  align-items: center;
}
.looked-comments > p {
  margin-right: 2rem;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #2d3033;
}
.looked {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}

.calender-date {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 148px;
  left: -14px;
}

@media (max-width: 1070px) {
  .calender-date {
    width: 4.1rem;
    height: 4.1rem;
    top: 125px;
    left: -6px;
  }

  .latest_blog > h3 {
    font-size: 18px;
    line-height: 21px;
  }

  .latest_blog > p {
    font-size: 14px;
    line-height: 16px;
  }
  .looked {
    width: 1.7rem;
    height: 1.7rem;
  }
  .looked-comments > p {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 550px) {
  .calender-date {
    top: 115px;
    left: 0;
  }
}

/* =====================latest_blog__footer================= */
.latest_blog__footer {
  background-image: url(./images/background_latest\ blog.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.latest_blog__footer-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 42px 0;
}
.map-pointer > img {
  width: 100%;
  height: 100%;
}
.map-pointer {
  width: 2.625rem;
  height: 2.625rem;
  margin-bottom: 2rem;
}

.latest_blog__footer__title {
  font-family: "Raleway-ExtraBold";
  font-size: 36px;
  text-transform: uppercase;
  line-height: 42px;
  color: #f38281;
}

.latest_blog__footer__title::after {
  content: "";
  display: block;
  height: 5px;
  width: 170px;
  background: #f38281;
  margin: 42px auto 0;
}

@media (max-width: 1025px) {
  .latest_blog__footer-flexbox {
    padding: 29px 0;
  }
  .map-pointer {
    width: 1.78rem;
    height: 1.78rem;
    margin-bottom: 1.5rem;
  }
  .latest_blog__footer__title {
    font-size: 24px;
    line-height: 28px;
  }
  .latest_blog__footer__title::after {
    height: 3px;
    width: 150px;
    margin: 30px auto 0;
  }
}
/* ======================footer============================ */

footer {
  background: #f8f8f8;
  padding-top: 5rem;
  padding: 2.625rem 0;
}
.footer-flexbox {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2.625rem;
  gap: 1.875rem;
}

.footer-flexbox > div {
  flex: 1;
}
.footer-block-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-block-one > .footer-logo {
  margin-bottom: 2rem;
}
.footer-block-one > .footer_info {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: #c6cbcd;
  font-weight: bold;
  margin-bottom: 2rem;
}
.footer_followers > .two {
  font-family: "Raleway";
  font-style: italic;
  color: #2d3033;
  font-weight: bold;
}
.footer_followers > .one {
  font-family: "Raleway-Bold";
  font-weight: bold;
  font-size: 25px;
  color: #2d3033;
}
.footer_followers::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #c6cbcd;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}
.footer-block-one > .follow_us {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.125rem;
}
.follow_us > li {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.follow_us > li > a > img {
  width: 24px;
  height: 24px;
}
.follow_us > li:first-child {
  font-family: "Raleway";
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  color: #c6cbcd;
  margin-right: 40px;
}

form {
  display: flex;
}
form > input {
  width: 100%;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 18px;
  color: #c6cbcd;
  text-align: center;
  border: 1px solid #c6cbcd;
}
form > button {
  min-width: 134px;
  min-height: 55px;
  background-color: #95e1d3;
  text-align: center;
  font-family: "Raleway-Bold";
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}
form > button:hover {
  background-color: #f38281;
  color: #2d3033;
  cursor: pointer;
  transition: 0.3s;
}
.footer-block-two {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-block-two > h3 {
  font-family: "Raleway-Bold";
  font-weight: bold;
  font-size: 24px;
  color: #2d3033;
  text-transform: uppercase;
}
.footer-block-two > div {
  display: flex;
}

.footer-block-two > div > .blog {
  font-family: "Raleway-Bold";
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 30px;
  min-width: 14rem;
}
.footer-block-two > div > .blog > span {
  font-family: "Raleway";
  font-size: 13px;
  line-height: 15px;
  color: #2d3033;
}
.footer-block-three {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer-block-three > h3 {
  font-family: "Raleway-Bold";
  font-weight: bold;
  font-size: 24px;
  color: #2d3033;
  text-transform: uppercase;
  padding: 0 0 30px 0;
}
.footer-block-three__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.footer-block-three__images > img {
  width: 90px;
  height: 88px;
}
.footer-block-three > a {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 13px;
  color: #2d3033;
  text-transform: uppercase;
  text-decoration: underline;
}

@media (max-width: 1060px) {
  .footer-logo > img {
    width: 5.9rem;
    height: 1.6rem;
  }
  .footer-block-one {
    justify-content: flex-start;
  }

  .footer-block-one > .footer_info {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0.5rem;
  }
  .footer_followers {
    font-size: 14px;
  }
  .footer_followers::after {
    margin-bottom: 0;
  }
  .footer-block-one > .follow_us {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .follow_us > li > a > img {
    width: 1rem;
    height: 1rem;
  }
  form > input {
    font-size: 14px;
    line-height: 16px;
  }
  form > button {
    font-size: 14px;
    line-height: 16px;
  }

  .footer-block-two > h3 {
    font-size: 18px;
    line-height: 21px;
  }
  .footer-block-one {
    gap: 1rem;
  }
  .footer-block-two {
    justify-content: space-between;
  }
  .footer-block-two > div > img {
    width: 115px;
    height: 71px;
  }

  .footer-block-two > div > .blog {
    font-size: 14px;
    line-height: 16px;
    min-width: 14rem;
  }

  .footer-block-two > div > .blog > span {
    font-size: 12px;
    line-height: 14px;
  }
  .footer-block-three {
    justify-content: space-between;
  }
  .footer-block-three > h3 {
    font-size: 18px;
    line-height: 21px;
  }

  .footer-block-three__images > img {
    width: 78px;
    height: 76px;
  }

  .footer-block-three > a {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 700px) {
  .footer-block-one {
    align-items: center;
  }

  .footer_followers {
    width: 100%;
    text-align: center;
  }
  .footer-block-one > .footer_info {
    text-align: center;
  }
  .footer-block-one > .follow_us {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  form > input {
    text-align: start;
    padding: 10px;
    margin-bottom: 24px;
  }
  form > button {
    min-height: 37px;
  }

  .footer-block-two {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-block-two > div > .blog {
    min-width: 9.5rem;
  }

  .footer-block-three {
    justify-content: center;
    align-items: center;
  }

  .footer-block-three__images {
    justify-content: center;
  }
}

.underfooter::before {
  content: "";
  display: block;
  height: 1px;
  max-width: 100%;
  background: #c6cbcd;
  margin: 20px auto 5px auto;
}
.underfooter > p {
  text-align: center;
  font-family: "Raleway-Bold";
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #2d3033;
}
